#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hwb(0 98% 2%);
     padding-top: 50px; 
    width: 100%;
    position: fixed;
    top: 80px; /* Position below the 100px header */
    left: 0px;
    height: 80px;
    z-index: 99;
    margin-top: 50px;
  }
  
  
  /* ... rest of the CSS remains the same */
  #navbar::-webkit-scrollbar-thumb {
    background-color: hsl(119, 76%, 46%);
    border-radius: 5px;
  }
  
  #navbar h3 {
    font-size: 16px;
    font-weight: bold;
    color: #080808;
    padding: 8px 16px;
    background-color: hwb(63 42% 5%);
    border-radius: 10px;
  }
  
  #navbar div {
    margin-right: 15px;
    max-width: 120px;
  }
  
  /* .pizza-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  } */
  
  /* .pizza-card:hover {
    transform: scale(1.05);
  }
  
  .header {
    height: 120px;
  } */